*{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
  }
  
  body {
    background-image: url("opak.png");
    background-size: cover;
    position: absolute;
    width: 50%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  
  header {
    position: relative;
    top: 15px;
    left: 1px;
    font-family: chalkduster;
    font-weight: bolder;
    color: #F46363;
    font-size: 70px;
  }
  
  
  h1,div {
    background-color: #F2B1B1;
    border-radius: 40px;
    text-align: center;
  }

  button {
    background-color: #F46363;
    color: white;
    font-size: large;
    border-radius: 40px;
    width: 229px;
    height: 46px;
    left: 462px;
    top: 556px;
  }
